.root {
    border: 2px solid #666;
}

.root > input {
    font-size: 1.6rem;
    line-height: 20px;
    padding: 5px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 0;
    box-shadow: none;
    outline: none;
}