* {
  box-sizing: border-box;
}

html, body {
  font-family: "Lato", sans-serif;
  min-width: 320px;
  padding: 0;
  margin: 0;
}

html { 
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #333;
  color: #fff;
}

input {
  font-family: "Lato", sans-serif;
}